/* ─────────────────────────────
   Typography · Dazzed (Headings)
   ───────────────────────────── */

@font-face {
	font-family: "Dazzed";
	src: url("/fonts/DazzedTRIAL-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}

/* ─────────────────────────────
   Typography · Inter (Body)
   ───────────────────────────── */

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: fallback;
}
