/* ─────────────────────────────
   Typography · Dazzed (Headings)
   Zeplin: DazzedTRIAL, weight 600
   ───────────────────────────── */

@font-face {
  font-family: "Dazzed";
  src: url("/fonts/DazzedTRIAL-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

/* ─────────────────────────────
   Typography · IBM Plex Sans (Body)
   Zeplin: IBMPlexSans, weight 400
   ───────────────────────────── */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
