:root {
	font-size: 17px;
  --font-family: 'Saans', sans-serif;
  --color-background: white;
  --color-text: #222222;
  --color-primary: #0055aa;
  --color-accent: #ff5500;
  --spacing-large: 4rem;
  --spacing-medium: 2rem;
  --spacing-small: 1rem;
}


@font-face {
  font-family: 'Saans';
  src: url('/fonts/SaansSemiMono-TRIAL-Regular.woff2') format('woff2'),
       url('SaansSemiMono-TRIAL-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Booton';
  src: url('/fonts/BootonTRIAL-Heavy.woff2') format('woff2'),
       url('/fonts/BootonTRIAL-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

main {
  display: block;
}

section {
  padding: var(--spacing-large) var(--spacing-medium);
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3,
.intro {
	font-family: 'Booton', sans-serif;
  margin-bottom: var(--spacing-small);
  line-height: 1.2;
}

#selected-work .work-item {
  margin-bottom: var(--spacing-medium);
}

#selected-work .work-item h3 {
  margin-bottom: var(--spacing-small);
}

footer {
  padding: var(--spacing-medium);
  font-size: 0.875rem;
}
