@import "./reset.css";
@import "./fonts.css";
@import "./tokens.css";
@import "./global.css";


/* ─────────────────────────────────────────
	 Section Home
	 ───────────────────────────────────────── */

.section {
	padding-block: var(--spacing-xxxl);
	padding-inline: var(--spacing-md);

	@media (min-width: 48rem) {
		padding-inline: var(--spacing-xl);
	}
}

.section#intro {
	padding-block-start: var(--spacing-max);
	min-height: 100vh;

	h1 {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-md);

		@media (min-width: 48rem) {
			gap: var(--spacing-lg);
		}
	}
	
	h1 span {
		display: block;
	}
	.intro-greeting {
		font-size: var(--font-size-5);
		line-height: var(--line-height-3);

		@media (min-width: var(--bp-md)) {
			font-size: var(--font-size-6);
			line-height: var(--line-height-2);
		}
	}
}


/* ─────────────────────────────────────────
	 Flow
	 ───────────────────────────────────────── */

.flow > * + * {
	margin-top: var(--spacing-md);
}

.flow h2 + * {
	margin-top: var(--spacing-sm);
}

.flow h3 + * {
	margin-top: var(--spacing-xs);
}


/* ─────────────────────────────────────────
	 Others
	 ───────────────────────────────────────── */

hr.division {
	border: 0;
	height: var(--border-width-hairline);
	background: var(--border-default);
}
