---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

import IntroContent from "../content/intro.md";
import WorkContent from "../content/work.md";
import AboutContent from "../content/about.md";
import ValuesContent from "../content/values.md";
import BackgroundContent from "../content/background.md";
---

<BaseLayout>
  <Section id="intro" class="home-section-grid">
    <IntroContent />
  </Section>

  <hr class="division" />

  <Section id="work" class="home-section-grid">
    <WorkContent />
  </Section>

  <hr class="division" />

  <Section id="values" class="home-section-grid">
    <ValuesContent />
  </Section>

  <hr class="division" />

  <Section id="background" class="home-section-grid">
    <BackgroundContent />
  </Section>

  <hr class="division" />

  <Section id="about" class="home-section-grid">
    <AboutContent />
  </Section>
</BaseLayout>
