---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroContent from "../content/intro.md";
import WorkContent from "../content/work.md";
import AboutContent from "../content/about.md";
import ValuesContent from "../content/values.md";
import BackgroundContent from "../content/background.md";
const contactEmail = "lmmvieira@gmail.com";
const year = new Date().getFullYear();
---

<BaseLayout>
  <section id="intro">
    <div class="container">
      <IntroContent />
    </div>
  </section>

  <hr class="division" />

  <section id="work">
    <div class="container">
      <WorkContent />
    </div>
  </section>

  <hr class="division" />

  <section id="values">
    <div class="container">
      <ValuesContent />
    </div>
  </section>

  <hr class="division" />

  <section id="background">
    <div class="container">
      <BackgroundContent />
    </div>
  </section>

  <hr class="division" />

  <section id="about">
    <div class="container">
      <AboutContent />
    </div>
  </section>
</BaseLayout>
