---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import ProjectCard from '../components/ProjectCard.astro';

import IntroContent from '../content/intro.md';
import AboutContent from '../content/about.md';
import ValuesContent from '../content/values.md';
import BackgroundContent from '../content/background.md';

// Get all projects, sorted by order
const projects = (await getCollection('projects'))
  .filter((project) => !project.data.draft)
  .sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout>
  <Section id="intro">
    <IntroContent />
  </Section>

  <Section id="work">
    <div class="projects-list-wrapper">
      <div class="projects-list">
        {
          projects.map((project, index) => (
            <>
              {index > 0 && <hr class="division" />}
              <ProjectCard
                slug={project.slug}
                title={project.data.title}
                description={project.data.subtitle}
                cover={project.data.cover}
              />
            </>
          ))
        }
      </div>
    </div>
  </Section>

  <!-- <Section id="values">
    <ValuesContent />
  </Section> -->

  <Section id="background">
    <BackgroundContent />
  </Section>

  <Section id="about">
    <AboutContent />
  </Section>
</BaseLayout>
