---
const { as: Tag = "section", id, class: className = "" } = Astro.props;
---

<Tag id={id} class={`section ${className}`.trim()}>
  <div class="container container--narrow flow">
    <slot />
  </div>
</Tag>
