---
interface Props {
  inverted?: boolean;
  image?: string;
  imageAlt?: string;
}

const {
  inverted = false,
  image = "/images/Placeholder.png",
  imageAlt = "",
} = Astro.props;
const isInverted = inverted === true;
const hasImageSlot = Astro.slots.has("image");
---

<section class={`project-section-default ${isInverted ? "is-inverted" : ""}`}>
  <div class="project-section-text">
    <slot />
  </div>
  <div class="project-section-image">
    {
      hasImageSlot ? (
        <slot name="image" />
      ) : (
        <img src={image} alt={imageAlt} class="project-image" />
      )
    }
  </div>
</section>
