---
import "../styles/main.css";
const {
  title = "Luis Vieira—Digital Product Designer",
  description = "I design purposeful digital products—clear systems with human presence.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <slot name="head" />
  </head>
  <body>
    <div class="page">
      <main class="content">
        <slot />
      </main>
    </div>

    <script type="module" src="/scripts/main.js"></script>
  </body>
</html>
